# Marcels Projections

This notebook provides a simple example for computing Marcel projections using `pybaseball`. You can learn more about the Marcels forecasting system [here](http://tangotiger.net/marcel/).

In [1]:
import pandas as pd
from pybaseball.analysis.projections.marcels import MarcelProjectionsPitching
from pybaseball.analysis.projections.marcels import MarcelProjectionsBatting
from pybaseball.lahman import people

In [2]:
ppl = people()  # for merging player names onto the projections
ppl['Player'] = ppl['nameFirst'].str.cat(ppl['nameLast'], ' ')
marcel_batting = MarcelProjectionsBatting()
marcel_pitching = MarcelProjectionsPitching()

In [3]:
pitchers = marcel_pitching.projections(2020)
batters = marcel_batting.projections(2020)
pitchers = pd.merge(ppl[['playerID', 'Player']], pitchers, on='playerID', how='right')
batters = pd.merge(ppl[['playerID', 'Player']], batters, on='playerID', how='right')

We can then sort the two dataframes to view the projected top performers

In [4]:
pitchers.sort_values('SO', ascending=False).head()

,playerID,Player,H,HR,ER,BB,SO,HBP,R
143,colege01,Gerrit Cole,145.190329,23.916119,66.034603,53.325072,242.445196,4.835923,71.164678
716,verlaju01,Justin Verlander,145.192833,28.656685,65.550935,47.145311,233.046279,6.302306,68.739815
163,degroja01,Jacob deGrom,147.740156,17.419418,55.997757,47.226040,214.747754,5.515039,61.433772
615,scherma01,Max Scherzer,134.729027,19.137910,57.718204,43.170277,212.630013,8.205640,61.732141
58,bauertr01,Trevor Bauer,162.130978,23.420415,79.459799,67.396411,210.995752,11.851444,87.746950

In [5]:
batters.sort_values('HR', ascending=False).head()

,playerID,Player,1B,2B,3B,HR,BB,HBP,SB,CS,SO,SH,SF
17,alonspe01,Pete Alonso,61.835746,24.424880,1.776910,36.479123,55.530717,13.808065,2.380606,0.634653,134.823677,0.268709,2.740424
354,martijd02,J. D. Martinez,88.221199,30.439315,2.178894,35.774207,61.850212,3.273532,4.228616,0.703440,133.531288,0.176546,5.085481
580,troutmi01,Mike Trout,68.296501,24.724267,2.726739,35.413694,98.294393,10.368346,15.968754,2.492124,110.910443,0.177973,3.910907
48,bellico01,Cody Bellinger,78.348910,28.931966,4.151507,34.120187,73.574174,2.929709,12.346877,2.957267,121.966159,0.180862,3.481480
553,suareeu01,Eugenio Suarez,80.978952,21.878351,1.930468,33.101862,64.662073,8.582563,3.132271,2.358739,146.982596,0.173745,5.240382